*, *:before, *:after{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#banner{
	background: url(../img/bg.jpg) left top no-repeat;
	width: 968px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial, san-serif;
	position: relative;
}
#banner .left-info{
	float: right;
	width: 160px;
	margin-right: 10px;
}
#banner .login{
	float: right;
	width: 165px;
}
#banner .login form span{
	display: block;
	margin-top: 7px;
	color: #fff;
	font-size: 15px;
}
#banner .login form label{
	display: block;
	font-size: 12px;
	height: 13px;
	color: #fff;
}
#banner .login form input{
	height: 20px;
	margin-top: 2px;
	width: 146px;
	font-size: 13px;
}
#banner #password{
	margin-top: 1px;
}
#banner .form-item{
	padding: 2px 3px;
}
#banner .login form button{
	margin-top: 5px;
	border: none;
	outline: none;
	background: transparent;
	font-size: 12px;
	width: 80px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
}
#banner .social-sharing{
	overflow: hidden;
}
#banner .social-sharing label{
	display: block;
	color: #fff;
	font-size: 12px;
	margin-top: 10px;
	padding-left: 4px;
}

#banner .social-sharing .social-btn{
	display: block;
	width: 21px;
	height: 21px;
	float: right;
	margin-right: 3px;
}
#banner .social-sharing .social-btn.plus{
	background: url(../img/plus.png) left top no-repeat;
}
#banner .social-sharing .social-btn.fb{
	background: url(../img/fb.png) left top no-repeat;
}
#banner .social-sharing .social-btn.rss{
	background: url(../img/rss.png) left top no-repeat;
	margin-right: 8px;
}
#banner .phone span{
	display: block;
	margin-top: 18px;
	padding-left: 32px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
#banner .title{
	bottom: 10px;
	position: absolute;
	width: 100%;
	height: 15px;
	margin: 0;
	padding: 0 0 0 150px;
	color: #99ccff;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
}